<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Offers</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <style>
        pre {
            white-space: pre-wrap; /* Zachowaj białe znaki i zawijanie wierszy */
            word-wrap: break-word; /* Złam długie słowa, aby dopasować je do kontenera */
        }
        .hidden {
            display: none !important;
        }
    </style>
    <style ></style>
    <script>
        function handleApply(rowId) {
    // Pobierz dane wiersza
    const table = $('#jobTable').DataTable();
    const rowData = table.row(function(idx, data) {
        return data.id === rowId; // Znajdź wiersz na podstawie ID
    }).data();

    if (rowData) {
        // Skopiuj zawartość skills_for_cv do schowka
        navigator.clipboard.writeText(rowData.skills_for_cv.replaceAll("\u2022 ", ""))
            .then(() => alert("Skills for CV copied to clipboard!"))
            .catch(() => alert("Failed to copy to clipboard."));


        $.ajax({
            url: '/api/update_applied',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ id: rowId, applied: true }),
            success: function(response) {
                alert(response.message || 'Applied status updated successfully!');
                // Opcjonalnie odśwież tabelę, aby zaktualizować checkbox
                //table.ajax.reload();
                $(`.applied-toggle[data-id="${rowId}"]`).prop('checked', true);

            },
            error: function() {
                alert('Failed to update applied status.');
            }
        });

    }
}
    </script>
</head>
<body>
    <h1>Job Offers</h1>
    <h2 id="appliedn0"></h2>
    <table id="jobTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hide</th>
                <th>Title</th>
                <th>Organization</th>
                <th>% skill</th>
                <th>Experience Years</th>
                <th>Level</th>
                <th>Location</th>
                <th>Date</th>
                <th>Skills for CV</th>
                <th>Language</th>
                <th>Applied</th>
                <th>Apply URL</th>
            </tr>
        </thead>
    </table>
<script>
    $(document).ready(function() {
        console.log('/api/data');
        $('#jobTable').DataTable({
            ajax: {
                url: '/api/data',
                dataSrc: ""
            },
            columns: [
                { data: 'id' },
                {
                    data: null, // Kolumna "Hide" nie wymaga danych
                    render: function(data, type, row) {
                        return `<button class="hide-btn" data-id="${row.id}">Hide</button>`;
                    }
                },
                                {
                    data: 'title',
                    render: function(data, type, row) {
                        return `<a href="${row.url}" target="_blank">${data}</a>`;
                    }
                },
                { data: 'organization' },
                { data: 'skill_percentage' },
                { data: 'experience_years' },//TODO wyciagnąć jedną wartość lat wymaganych(średnia/min/max)
                { data: 'job_level' },//TODO wyciagnąć jedną wartość(najniższą)
                { data: 'location' },
                { data: 'date', render: function(data) {
                    return data ? data : 'N/A';
                }},
                {
                    data: 'skills_for_cv',
                    render: function(data) {
                        data = data.replaceAll("\u2022 ", "")
                        return `<pre>${data}</pre>`; // Opakowanie zawartości w znacznik <pre>
                    }
                },
                { data: 'language' },
                {
                    data: 'applied',
                    render: function(data, type, row) {
                        const checked = data ? 'checked' : '';
                        return `<input type="checkbox" class="applied-toggle" data-id="${row.id}" ${checked}>`;
                    }
                },
                { data: 'apply_url', render: function(data, type, row) {
                    return `
<button class="hide-btn" data-id="${row.id}">Hide</button>
<a onclick="handleApply(${row.id})"
href="${data}" target="_blank">Apply</a>`;
                }},
            ],
            order: [[0, 'asc']]
        });



        console.log('/api/data/appliedn0')
            $.ajax({
                url: '/api/data/appliedn0',
                type: 'GET',
                contentType: 'application/json',
                success: function(response) {
                    console.log(response.appliedN0)
                    $('#appliedn0').text("Zaaplikowane oferty: "+response.appliedN0)
                },
                error: function() {
                    alert('An error occurred while hiding the job offer.');
                }
            });







        // Obsługa kliknięcia przycisku "Hide"
        $('#jobTable').on('click', '.hide-btn', function() {

            let text = "Press a button!\nEither OK or Cancel.";
            if (confirm("Do  you want to hide offer?") == false) {
                return
            }

            const jobId = $(this).data('id');
            const table = $('#jobTable').DataTable();

            // Znajdź wiersz na podstawie ID i ukryj go
            //table.row($(this).parents('tr')).remove().draw();
            //table.row($(this).parents('tr').addClass('hidden'));
            $(this).parents('tr').addClass('hidden')

            // Opcjonalne wysłanie żądania do serwera
            $.ajax({
                url: '/api/update_hidden',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id: jobId, hidden: true }),
                success: function(response) {
                },
                error: function() {
                    alert('An error occurred while hiding the job offer.');
                }
            });
        });

        // Obsługa zmiany toggleboxa
        $('#jobTable').on('change', '.applied-toggle', function() {
            const isChecked = $(this).is(':checked');
            const jobId = $(this).data('id');

            // Wysyłanie żądania POST do backendu
            $.ajax({
                url: '/api/update_applied',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id: jobId, applied: isChecked }),
                success: function(response) {
                    alert(response.message || 'Status updated successfully!');
                },
                error: function() {
                    alert('An error occurred while updating the applied status.');
                }
            });
        });
    });
</script>
</body>
</html>